
#config-overlay  {
text-align: center;    
    }
    
#config-overlay h2 {
margin:1rem 0;

}

.form-control{
    margin:1rem 0;

}

.form-control label{
    display: block;
    margin-bottom: 2rem;
    font-weight: bold;
}
.form-control input {
    font:inherit;
    background-color:rgb(197, 197, 197);

    width:15rem;
    padding: 0.35rem;
}
#game-configuration{
width: 90%;
max-width: 40rem;
margin: 3em auto;
text-align: center;

}



#game-configuration ol {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    
    }

    #game-configuration ol li {
        margin:1rem;
        padding:1rem;
        width:50%;
        background-color:rgb(197, 197, 197);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgb(136, 136, 136);
        
        }

        #game-configuration ol h3 {
         font-size:1.5rem;
         margin:0.5rem 0;
         color:black;

        }
        #game-configuration ol h2 {
            font-size:1.2rem;
            margin:0.5rem 0;
            color:black;
       }
       .player-symbol {
        font-size:2rem;
        color:black;
        font-weight: bold;
        margin: 0.5rem 0;
       }

       .error input{
           border-color:red;
           color: brown;
           background-color: rgb(255, 246, 244);

       }

       .error label{
        color: brown;
       }

